<div class="container">
    <section id="about" class="py-5">
        <div class="container-fluid py-3 ">
            <div class="row">
                <div class=" col-md-6 ">
                    <div>
                        <img class="w-100" src="../../assets/images/download.jpeg" alt="">
                    </div>
                </div>
                <div class=" col-md-6 mt-2 ps-5 ">
                    <div class=" about-info">
                        <h3>Who we are?</h3>
                        <p class="text">We have been operating for over 30 years and are Members of The Federation of
                            Master Builders. We work on projects big and small from small residential extensions to full
                            house. We are so happy with this theme. Everyday it make our lives better.</p>
    
                        <div class="icons mt-4">
                            <p><span>We care about environment.</span></p>
                            <p><span>We are trusted by hundreds of clients.</span></p>
                            <p><span>Social media loves us!</span></p>
                            <p><span>This list is super easy to create.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
