<div class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark mx-5">
        <a class="navbar-brand">Store</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="test" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="test">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="test">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"routerLink="product" routerLinkActive="test">Prodcts</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="cart" routerLinkActive="test">Cart</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="test">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
