<div class="container">
  
  <div class="row">
    <h1 class="text-center mt-5">Products</h1>
      <div class="col-md-3 col-3 p-3" *ngFor="let product of products">
          <div class="card" style="height:450px">
              <img class="card-img-top"  style="height:200px" [src] ="product.thumbnail" alt="Card image cap">
              <div class="card-body">
                <h6 class="text-danger">{{product.title}}</h6>
                <p>{{product.price| currency:'EGP'}}</p>
                <p>{{product.stock|stock}} </p>
                <p>{{product.createdAt| date : 'MMMM YYYY'}}</p>
                <a (click)="getDetails(product.id)" class="btn btn-primary">Details</a>
              </div>
            </div>
      </div>
  </div>
</div>