
header
{
    background-image: url('../../assets/images/download1.png');
    background-size: contain;

    height: 730px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    background-color: black;
}
 .header-info button
        {
            padding: 13px 23px;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Segoe UI light';
            margin: 15px 15px 0px 0px;
            border-radius: 4px;
            color:#fff
        }
        .header-info .more-button
        {
            background-color: #8e7754;
            border: 2px solid #8e7754;
        }
        .header-info .contact-button
        {
            background-color:transparent;
            border:2px solid #dfd9d9;
        }
        .header-info .more-button a ,.header-info .contact-button a
        {
            text-decoration: none;
            color:#fff
        }