<header class="header-info  text-light">
    <!-- <div class="text-center header-info-content">
        <p>Welcome to</p>
        <h1 class="change">Store</h1>
        <p>We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area.</p>
        <div class="buttons">
            <button class="more-button changebg">
                <a href="#about" target="_blank">Learn More</a>
            </button>
            <button class="contact-button changebrd">
                <a href="#contact" target="_blank">Contact Us</a>
            </button>
        </div>
    </div> -->
</header>